* {
    margin: 0;
    padding: 0;
    user-select: none;
    scroll-behavior: smooth;
    font-family: 'Clash Grotesk', sans-serif;
}

/*Header*/
header, header div {
    transition: 0.8s ease;
}

header li:first-child:after {
    content: '';
    background-color: white;
    width: 100%;
    height: 3px;
}

.links {
    position: relative;
    cursor: pointer;
}

.links:after {
    content: '';
    position: absolute;
    background-color: rgb(188, 188, 188);
    width: 0%;
    height: 3px;
    display: block;
    transition: 0.6s;
}

.link-line:after {
    width: 100%;
}

.links:hover:after {
    width: 100%;
}

button,
.filter,
i {
    transition: 0.6s;
}

/*HomePage*/
.HomePage-Background {
    background-image: url(../Assets/Background-HomePage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.bg-black-blur {
    background-color: #00000074;
}

.cards-homepage {
    background-size: cover;
    background-position: bottom;
}

#Card-1-HomePage {
    background-image: url(../Assets/Card-1-HomePage.jpeg);
}

#Card-2-HomePage {
    background-image: url(../Assets/Card-1-HomePage-2.jpeg);
}

#Card-3-HomePage {
    background-image: url(../Assets/Card-1-HomePage-3.jpeg);
}

.background-card-image {
    background: linear-gradient(188deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.822) 90%);
}

.bg-blur-white {
    backdrop-filter: blur(20px);
    border: 1px solid white;
    transition: 0.5s ease;
}

.bg-blur-white:hover {
    background-color: rgba(255, 255, 255, 0.493);
}

/*Section-2/HomePage*/
.cards-homepage-section-2 {
    background-size: cover;
    background-position: center;
}

#Card-0-Section-2-HomePage {
    background-image: url(../Assets/Card-0-Section-2-HomePage.jpeg);
}

#Card-1-Section-2-HomePage {
    background-image: url(../Assets/Card-1-Section-2-HomePage.jpeg);
}

#Card-2-Section-2-HomePage {
    background-image: url(../Assets/Card-2-Section-2-HomePage.jpeg);
}

#Card-3-Section-2-HomePage {
    background-image: url(../Assets/Card-3-Section-2-HomePage.jpeg);
}

#Card-4-Section-2-HomePage {
    background-image: url(../Assets/Card-4-Section-2-HomePage.jpeg);
}

#Card-5-Section-2-HomePage {
    background-image: url(../Assets/Card-5-Section-2-HomePage.jpeg);
}

#Card-6-Section-2-HomePage {
    background-image: url(../Assets/Card-6-Section-2-HomePage.jpeg);
}

#Card-7-Section-2-HomePage {
    background-image: url(../Assets/Card-7-Section-2-HomePage.jpeg);
    background-position: center;
}

#Card-8-Section-2-HomePage {
    background-image: url(../Assets/Card-8-Section-2-HomePage.jpeg);
    background-position: center;
}

.Cards-section-2,
.cards-homepage-section-2,
.cards-homepage-info,
.cards-homepage-info div:first-child {
    transition: 0.8s ease;
}

.button-link {
    transition: 0.5s ease;
}

.Cards-section-2:hover {
    .cards-homepage-section-2 {
        height: 45%;
    }

    .cards-homepage-info {
        height: 55%;
        padding-top: 1vh;
        gap: 0;
    }

    .cards-homepage-info div:first-child {
        height: 60%;
    }

    .cards-homepage-buttons {
        visibility: visible;
    }
}

.bg-gray {
    background-color: rgba(128, 128, 128, 0.148);
}

/*Section-4/HomePage*/
.bg-gray-transparent {
    background-color: rgba(168, 168, 168, 0.258);
}

.bg-black-transparent {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.763), transparent 50%, rgba(0, 0, 0, 0.763));
}

.Background-cards {
    background-size: cover;
}

/*Booking*/
#Card-1-chambre-1 {
    background-image: url(../Assets/Card-1-chambre-1.jpeg);
    background-size: cover;
    background-position: center;
}

#Card-1-chambre-2 {
    background-image: url(../Assets/Card-1-chambre-2.jpeg);
    background-size: cover;
    background-position: center;
}

#Card-1-chambre-3 {
    background-image: url(../Assets/Card-1-chambre-3.jpeg);
    background-size: cover;
    background-position: center;
}

#Card-1-chambre-4 {
    background-image: url(../Assets/Card-1-chambre-4.jpeg);
    background-size: cover;
    background-position: center;
}

.overflow-x-scroll::-webkit-scrollbar {
    display: none;
}

.cards{
    background-size: cover;
    background-position: center;
}

.Card-Booking{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}